.auth__main {
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth__box-container {
    background-color: #fff;
    box-shadow: 0px 3px $dark-grey;
    border-radius: 2px;
    padding: 20px;
    width: 250px;
}

.auth__title {
    color: darken($color: $primary, $amount: 20);
    margin-bottom: 1.5rem;
}

.auth__input {
    color: $dark-grey;
    border: 0px;
    border-bottom: 1px solid $light-grey;
    font-size: 16px;
    margin-bottom: 10px;
    height: 20px;
    width: 100;
    transition: border-bottom .3s ease;
    &:focus {
        outline: none;
        border-bottom: .1rem solid $primary;
    }
}