.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: .5rem .75rem;
    &:focus {
        outline: none;
    }
}

.btn-primary {
    background-color: $primary;
    border-radius: .15rem;
    &:disabled {
        background-color: lighten($color: $primary, $amount: 15);
    }
    &:hover {
        background-color: darken($color: $primary, $amount: 15);
    }
}